[package]
name = "tello"
description = "SDK for intel Tello drone"
version = "0.2.0"
authors = ["Alex Halemba <alex-halemba@gmx.de>"]
edition = "2018"
repository = "https://github.com/Alexander89/rust-tello"

[lib]
name = "tello"
path = "src/lib.rs"

[[example]]
name = "fly"
path = "examples/fly/main.rs"

[dependencies]
bytes = "0.4"
byteorder = "1.1"
chrono = "0.4.0"

[dev-dependencies]
sdl2 = {version = "0.32", features = ["ttf"]}
# glib = "0.9"
# gstreamer = "0.15"
# gstreamer-video = "0.15"
